body {
    padding: 30px;
  }

  .container {
    max-width: 800px;
  }

  .card {
    padding: 0px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .hide{
    display:none;
  }
  .show{
    
  }